@import "tailwindcss";

/* Add this at the end of your file */

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2D3748; /* bg-gray-800 */
}

::-webkit-scrollbar-thumb {
  background: #4A5568; /* bg-gray-700 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #718096; /* bg-gray-600 */
}